<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <encoder>
                <pattern>%d{ yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %X{first} %X{last} - %msg%n
                </pattern>
                <charset class="java.nio.charset.Charset">UTF-8 </charset>
            </encoder>
        </layout>
    </appender>
    <root level="DEBUG">
        <appender-ref ref ="CONSOLE"/>
    </root>

</configuration>