<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianshouzhi.dragon.common.domain.City">

    <insert id="insert" parameterType="City">
        INSERT INTO city (id,dsName) VALUES (#{id},#{dsName});
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO city (id,dsName) VALUES
        <foreach collection="list"  item="city" realDsName="realDsName" separator="," >
            (#{city.id},#{city.dsName})
        </foreach>  ;
    </insert>

    <select id="selectById" parameterType="int" resultType="City">
        SELECT id,dsName FROM city WHERE id=#{id};
    </select>

    <select id="selectAll" resultType="City">
        SELECT * FROM city;
    </select>

    <select id="selectOrderByLimit" resultType="City" parameterType="java.util.HashMap">
        SELECT id,dsName FROM city ORDER BY id limit #{offset},#{rows};
    </select>

    <select id="selectAggrGroupBy" resultType="java.util.HashMap">
        SELECT count(*),dsName FROM city GROUP BY dsName;
    </select>

    <select id="selectWhereIdIn" parameterType="integer[]" resultType="City">
        SELECT id,dsName FROM city WHERE id IN
        <foreach collection="array" item = "id" open="(" separator="," close=")">#{id}</foreach>;
    </select>

    <update id="updateById" parameterType="City">
        UPDATE city SET dsName=#{dsName} where id=#{id};
    </update>

    <delete id="deleteById" parameterType="int" >
        DELETE FROM city WHERE id=#{id};
    </delete>

    <delete id="deleteAll">
        DELETE FROM city;
    </delete>

    <delete id="batchDelete" parameterType="integer[]">
        DELETE FROM city WHERE id in
        <foreach collection="array" item = "id" open="(" separator="," close=")">#{id}</foreach>;
    </delete>

</mapper>