<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianshouzhi.dragon.common.mappers.UserMapper">
    <resultMap id="userWithAccountMap" type="User">
        <!--主键-->
        <id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <!--普通属性-->
        <result  property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--1对1关联-->
        <association property="userAccount" javaType="UserAccount" resultMap="com.tianshouzhi.dragon.common.domain.UserAccount.userAccountMap" ></association>
    </resultMap>

    <insert id="insert" parameterType="User">
        INSERT INTO user (name) VALUES ('${name}');
    </insert>


    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="int" order="AFTER">-->
            <!--select LAST_INSERT_ID()-->
        <!--</selectKey>-->
        INSERT INTO user (name) VALUES
        <foreach collection="list"  item="user" realDsName="realDsName" separator="," >
            (#{user.name})
        </foreach>;
    </insert>

    <select id="selectById" parameterType="int" resultMap="userWithAccountMap">
        SELECT id,name FROM user WHERE id=#{id};
    </select>

    <select id="selectAll" resultType="User">
        SELECT * FROM user;
    </select>

    <select id="selectOrderByLimit" resultType="User" parameterType="java.util.HashMap">
        SELECT id,name FROM user ORDER BY id limit #{offset},#{rows};
    </select>

    <select id="selectAggrGroupBy" resultType="java.util.HashMap">
        SELECT count(*),name FROM user GROUP BY name;
    </select>

    <select id="selectWhereIdIn" parameterType="java.lang.Integer" resultType="User">
        SELECT id,name FROM user WHERE id IN
        <foreach collection="array" item = "id" open="(" separator="," close=")">#{id}</foreach>;
    </select>

    <select id="selectInnerJoinAccount" resultMap="userWithAccountMap">
        SELECT u.id,u.name,ac.user_id,ac.account_no,ac.money
        FROM user u,user_account ac
        WHERE u.id=ac.user_id
    </select>

    <select id="selectLeftJoinAccount" resultMap="userWithAccountMap">
        SELECT u.id,u.name,ac.user_id,ac.account_no,ac.money
        FROM user u LEFT JOIN user_account ac ON u.id=ac.user_id;
    </select>

    <update id="updateById" parameterType="User">
        UPDATE user SET name=#{name} where id=#{id};
    </update>
    <update id="updateCaseWhen" parameterType="list">
        UPDATE user
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="name =CASE id" suffix="END,">
                <foreach collection="list" item="user" realDsName="realDsName">
                    WHEN #{user.id} THEN #{user.name}
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="list" item = "user" open="(" separator="," close=")">#{user.id}</foreach>;
    </update>

    <delete id="deleteById" parameterType="int" >
        DELETE FROM user WHERE id=${id};
    </delete>

    <delete id="deleteAll">
        DELETE FROM user;
    </delete>

    <delete id="batchDelete" parameterType="java.lang.Integer">
        DELETE FROM user WHERE id in
        <foreach collection="array" item = "id" open="(" separator="," close=")">#{id}</foreach>;
    </delete>

</mapper>