<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases >
        <typeAlias type="com.tianshouzhi.dragon.domain.User" alias="User"/>
        <typeAlias type="com.tianshouzhi.dragon.domain.City" alias="City"/>
        <typeAlias type="com.tianshouzhi.dragon.domain.UserAccount" alias="UserAccount"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mappers/UserMapper.xml" />
        <mapper resource="mybatis/mappers/CityMapper.xml" />
        <mapper resource="mybatis/mappers/UserAccountMapper.xml" />
    </mappers>

</configuration>