<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianshouzhi.dragon.domain.UserAccount">
    <!--查询结果集映射-->
    <resultMap id="userAccountMap" type="UserAccount">
        <!--主键-->
        <id property="userId" column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <!--普通属性-->
        <result  property="accountNo" column="account_no" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result  property="money" column="money" javaType="java.lang.Double" jdbcType="DOUBLE"/>
    </resultMap>

    <insert id="insert" parameterType="UserAccount">
        INSERT INTO user_account (user_id,account_no,money) VALUES (#{userId},#{accountNo},#{money}));
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO user_account (user_id,account_no,money) VALUES
        <foreach collection="list"  item="userAccount" index="index" separator="," >
            (#{userAccount.user_id},#{userAccount.accountNo},#{userAccount.money})
        </foreach>  ;
    </insert>

    <select id="selectById" parameterType="int" resultMap="userAccountMap">
        SELECT user_id,account_no,money FROM user_account WHERE user_id=#{userId};
    </select>

    <select id="selectAll" resultMap="userAccountMap">
        SELECT * FROM user_account;
    </select>

    <select id="selectOrderByLimit" resultMap="userAccountMap" parameterType="java.util.HashMap">
        SELECT user_id,account_no,money FROM user_account ORDER BY user_id limit #{offset},#{rows};
    </select>
    <select id="selectAggrGroupBy" resultType="java.util.HashMap">
        SELECT count(*),account_no FROM user_account GROUP BY user_id;
    </select>
    <select id="selectWhereIdIn" parameterType="integer[]" resultMap="userAccountMap">
        SELECT user_id,account_no,money FROM user_account WHERE user_id IN
        <foreach collection="array" item = "id" open="(" separator="," close=")">#{id}</foreach>;
    </select>

    <update id="updateById" parameterType="UserAccount">
        UPDATE user_account SET money=#{money} where user_id=#{userId};
    </update>

    <delete id="deleteById" parameterType="int" >
        DELETE FROM user_account WHERE user_id=#{userId};
    </delete>

    <delete id="deleteAll">
        DELETE FROM user_account;
    </delete>

    <delete id="batchDelete" parameterType="integer[]">
        DELETE FROM user_account WHERE user_id in
        <foreach collection="array" item = "id" open="(" separator="," close=")">#{id}</foreach>;
    </delete>

</mapper>