<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="druid-parent" class="com.alibaba.druid.pool.DruidDataSource">
        <property dsName="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property dsName="url"
                  value="jdbc:mysql://localhost:3306/dragon_ha?userUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"></property>
    </bean>

    <bean id="dragon-ha" class="com.tianshouzhi.dragon.ha.jdbc.HADatasource" init-method="init">

    </bean>
</beans>